@import 'breakpoints';

:root {
  --action-light-alert: #ff612f;
  --brand-light-hot-pink: #e5007d;
  --action-light-tertiary: var(--brand-light-powered-purple);
  --action-light-primary: var(--brand-light-fresh-blue);
  --brand-light-fresh-blue: #3b9cdb;
  --brand-light-powered-purple: #8714e6;
}
