@import './src/globals/global';

.test {
  color: var(--labels-light-tertiary);
  opacity: 0.5;

  &:active {
    color: var(--labels-light-tertiary);
    opacity: 0.5;
  }

  &:hover {
    color: var(--labels-light-tertiary);
    opacity: 0.5;
  }
}
